body{
    background:linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 500%;
    margin:0;
    padding:0;
    height:140vh;
    animation: beAnimation 15s linear infinite;
}
@keyframes beAnimation{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
}
.title{
    font-family:PingFang SC;
    font-size:80px;
    fill: none;
    stroke:url(#geekColor);
    stroke-width:2;
    stroke-dasharray:10 800;
    stroke-dashoffset:10;
    animation:5s linear 0s drawing
        forwards
}
@keyframes drawing{
    to{
        stroke-dasharray: 800;
        stroke-dashoffset: 0;
    }
}
.card{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-direction: column;
}
.cards .card{
    min-height:100px;
    position:absolute;
    left:40%;
    width:300px;
    height:450px;
    background-color: #fad7a0;
    border-radius:10px;
    justify-content:space-evenly;
    align-items:center;
    color:black;
    font-size:30px;
    font-weight:700;
    border:10px solid rgba(0,0,0,.1);
    transition:.5s;
    transform-origin:50% 100%;
    filter:hue-rotate(calc(var(--i) * 36deg));
    
}
.cards:hover .card{
    transform:rotate(calc(var(--i) * 4deg))
                translate(calc(var(--i) * 200px),-50px);
    cursor:pointer;

}
.cards:active .card:not(:active){
    background-color: #333;
}
.cards .card:active{
    z-index:999;
}
p{
    font-size:18px;
}
h2{
	color:#000000;
    font-size:30px;
	margin: 20px;
    font-family: 'Source Han Serif', 'Yu Mincho', serif;
	background:linear-gradient(to left,rgba(0,0,0,0), #ffffff);
}