p {
	color: navy;
}

p.info {
	font-size: small;
	background-color:#dfdfdf
}

h1 {
	color:white;
	text-shadow:navy 1px 0 10px;
}

h2 {
	border: solid 1px #3f3faf;
	margin: 5px;
	font-family:cursive;
	background-color:linear-gradient(0.25turn,white,#ffefaf)
}

div#zentai {
	display: grid;
	grid-template-columns:1fr 1fr;
	flex-direction: row;
	width: 1024px;
	padding:10px;
	height:200px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}

img {
    float: right;
    width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}
