p {
	color: navy;
}

p.info {
	font-size: small;
	color:#dfdfdf
}

h1 {
	background-color: #7f7fcf;
	text-shadow:navy;
}

h2 {
	border: solid 1px #3f3faf;
	margin: 5px;
	font-family:cursive;
	background-color:linear-gradient(white,#ffefaf)
}

div#zentai {
	display: flex;
	flex-direction: row;
	width: 1024px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
